<div id="contactos" class="modal">
    <div class="container">
        <div class="container">
            <h5 class="center-align bolder section-title">
                {% if page.lang == "pt" %}
                    Contactos
                    {% elsif page.lang == "en" %}
                        Contacts
                {% endif %}
            </h5>
        </div>

        <form name="Formulário de Contactos" netlify method="post">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field">
                            <i class="fas fa-user-circle prefix"></i>
                            <input id="nome" name="Nome Completo" validate type="text" class="validate">
                            <label for="nome">
                                {% if page.lang == "pt" %}
                                    Nome Completo
                                    {% elsif page.lang == "en" %}
                                        Full Name
                                {% endif %}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <i class="fas fa-envelope-open prefix"></i>
                            <input id="email" name="Email" validate type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <i class="fas fa-comment-alt prefix"></i>
                            <textarea name="Mensagem" id="mensagem" validate class="validate"></textarea>
                            <label for="mensagem">
                                {% if page.lang == "pt" %}
                                    Mensagem
                                    {% elsif page.lang == "en" %}
                                        Message
                                {% endif %}
                            </label>
                        </div>
                    </div>

                    <div class="center">
                        <button type="submit" class="btn-large waves-effect waves-light">
                                {% if page.lang == "pt" %}
                                    Envie
                                    {% elsif page.lang == "en" %}
                                        Send It
                                {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            {% include contactos-socias.html %}
        </div>
    </div>
</div>