<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <h6 class="bolder">
                    <i class="fas fa-map-marker"></i>
                    Endereço Sede
                </h6>
                <ul>
                    <li>Av. Chai, Bairro Carico</li>
                    <li>Cidade de Pemba, Cabo Delgado</li>
                    <li>Moçambique</li>
                </ul>
            </div>

            <div class="col s12 l4">
                <h6 class="bolder">
                    <i class="fas fa-map-marker-alt"></i>
                    Sucursais - Representantes
                </h6>

                <ul>
                    <li>Tete</li>
                    <li>Maputo</li>
                    <li>Nampula</li>
                    <li>Nacala-Porto</li>
                    <li>Beira, Sofala</li>
                </ul>
            </div>

            <div class="col s12 l4">
                <h6 class="bolder">
                    <i class="fas fa-headset"></i> 
                    Centro de Apoio
                </h6>
                <ul>
                    <li>
                        <a class="white-text" href="tel:+258 200 340 79">(+258) 200 340 79</a>
                    </li>
                    <li>
                        <a class="white-text" href="tel:+258 84 874 4888"> (+258) 84 874 4888</a>
                    </li>
                    <li>
                        <a class="white-text" href="tel:+258 86 874 4888">(+258) 86 874 4888</a>
                    </li>

                    <li>
                        <a class="white-text" href="mailto:{{ site.email | encode }}">{{ site.email }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            &copy;{{ site.time | date: "%Y" }} {{ site.title }} - {{ site.description }}, Todos Direitos Reservados
        </div>
    </div>
</footer>
