<header class="page-header">
    <div class="page-title">
        <a href="/" title="{{ site.title }}">
            <img src="{{ site.image }}" alt="{{ site.title }}" class="responsive-img" width="200" height="200">
        </a>
        <br><br>
        <a href="#quem-somos" class="btn-large waves-effect waves-light">Conheça-nos <i class="fas fa-info-circle"></i></a>
        <a href="#contactos" class="btn-flat btn-large waves-effect waves-light modal-trigger white-text" style="border: 1px solid #fff;">Contacte-nos <i class="fas fa-envelope"></i></a>
    </div>
</header>