<header class="page-header">
    <div class="page-title">
        <img src="{{ site.image }}" alt="{{ site.title }}" class="responsive-img">
        <a href="#sobre" class="btn-large waves-effect waves-light modal-trigger">Conheça-nos <i class="fas fa-info"></i></a>
        <a href="#contactos" class="btn-flat waves-effect waves-light modal-trigger">Contacte-nos <i class="fas fa-envelope"></i></a>
        <a href="#servicos" class="btn-floating btn-large waves-effect waves-circle waves-light"><i class="fas fa-chevron-down"></i></a>
    </div>
</header>