<div id="parceiros" class="section scrollspy">
    <div class="row slick-clientes">
		{% for item in site.parceiros.first.client %}
            <div>
                <img src="{{ item.image }}" alt="{{ item.company }}" style="width: 100px" class="grey-img">
            </div>
        {% endfor %}
        {% for item in site.representantes.first.client %}
            <div>
                <img src="{{ item.image }}" alt="{{ item.company }}" style="width: 100px" class="grey-img">
            </div>
		{% endfor %}
    </div>
</div>