<section id="produtos" class="section scrollspy primary-color">
    <div class="container">
        {% assign produtos=site.produtos | where:"lang", page.lang %}
        <div class="container center">
            <h4 class="section-title bolder">
                {% if page.lang == "pt" %}
                    Produtos
                    {% elsif page.lang == "en" %}
                        Products
                {% endif %}
            </h4>
            {% for item in produtos limit: 1 %}
                <div class="justify light white-text">
                    {{ item.content }}
                </div>
            {% endfor %}
        </div>
        
        <div class="row slick-servicos primary-color-text">
            {% for item in produtos offset: 1 %}
                <div>
                    <div class="card medium" style="padding: 10px">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                        </div>

                        <div class="card-content center">
                            <p class="bold">{{ item.title }}</p>
                        </div>
                        <div class="card-reveal">
                            <div class="card-title center activator white-text bold">{{ item.title }} <div class="right">&times;</div></div>

                            <div class="light justify">
                                {{ item.content }}
                            </div>
                        </div>
                        <div class="card-action center">
                            <button class="btn-flat waves-effect waves-primary activator">
                                 {% if page.lang == "pt" %}
                                    Saiba Mais
                                    {% elsif page.lang == "en" %}
                                        Know More
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>