<section id="produtos" class="section scrollspy">
    <div class="container">
        <div class="container center">
            {% for item in site.produtos limit: 1 %}
                <h4 class="section-title bolder">{{ item.title }}</h4>
                
                <div class="justify primary-color-text light">
                    {{ item.content }}
                </div>
            {% endfor %}
        </div>

        {% for item in site.produtos limit: 1 %}
            
        {% endfor %}
    </div>
</section>