<section id="sobre" class="modal bottom-sheet">
    <div class="container">
        <br><br>
        <div class="container center">
            <h4 class="section-title bolder">Sobre Nós</h4>
        </div>

        <div class="container">
            {% for item in site.sobre limit: 1 %}
                <div class="justify light">
                    {{ item.content }}
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for item in site.sobre offset: 1 %}
                <div class="col s12 l4">
                    <p class="bold">{{ item.title }}</p>
                    <div class="justify light">
                        {{ item.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>