backend:
  name: git-gateway
  accept_roles:
    - admin
  branch: master 

media_folder: "assets/img/uploads"

collections:
  
  - label: "Quem Somos"
    name: "quem-somos"
    create: true
    folder: "collections/_quem-somos"
    filter: {field: "lang", value: "pt"}
    fields:
      - {label: "Idioma", name: "lang", widget: "select", options: ["pt", "en"]}
      - {label: "Titulo", name: "title", widget: "string"}
      - {label: "Descrição", name: "body", widget: "markdown"}

  - label: "Sobre"
    name: "sobre"
    create: true
    folder: "collections/_sobre"
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - {label: "Descrição", name: "body", widget: "markdown"}

  - label: "Serviços"
    name: "servicos"
    folder: "collections/_servicos"
    create: true
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - {label: "Descrição", name: "body", widget: "markdown"}
      - {label: "Imagem", name: "image", widget: "image"}

  - label: "Produtos"
    name: "produtos"
    folder: "collections/_produtos"
    create: true
    fields:
      - {label: "Titulo", name: "title", widget: "string"}
      - {label: "Descrição", name: "body", widget: "markdown"}
      - {label: "Imagem", name: "image", widget: "image"}

  - label: "Clientes"
    name: "clientes"
    folder: "collections/_clientes"
    create: true
    fields:
      - {label: "Nome", name: "title", widget: "string"}
      - {label: "Foto", name: "image", widget: "image"}

  - label: "Representantes"
    name: "representantes"
    folder: "collections/_representantes"
    create: true
    fields:
      - {label: "Nome", name: "title", widget: "string"}
      - {label: "Foto", name: "image", widget: "image"}

  - label: "Parceiros"
    name: "parceiros"
    folder: "collections/_parceiros"
    create: true
    fields:
      - {label: "Nome", name: "title", widget: "string"}
      - {label: "Foto", name: "image", widget: "image"}